<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
        <%- include('./partials/nav.ejs') %>
<div class="mainBlock">
<div id="blogBlock">
    <% if(blogs.length > 0 ) { %>
        <% blogs.forEach((blog)=>{ %>
            <a href="/blog/<%= blog._id %>"><h1><%= blog.title %></h1>
    <h3><%= blog.snippet %></h3></a>
    <% })%>
    <% }else{%>
        <p>there are no blogs to be displayed</p>
    <%}%>
</div>
        <%- include('./partials/footer.ejs') %>
</div>
</body>
</html>
